.DS_Store
reports/
lcov.info
gasreport.txt

# IDE
.idea/

# Compiler files
cache/
out/
coverage/
reports/
ci/contract_addresses.txt

# Ignore broadcast logs
broadcast/

# Dotenv/direnv files
.env
.envrc

# Github CI secrets for local CI runner (https://github.com/nektos/act)
/.secrets

# npm/pnpm related files
node_modules/
.venv/

# direnv files
.direnv/

# cursor files
.specstory/

# Yarn files
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
